{% extends "base.html" %}

{% block content %}
	<div class="row">
	<div class="col-12">
	<div class="jumbotron bg-warning">
	  <h1 class="display-4">{{ event.title }}</h1>
	  <p class="lead">{{ event.description }}</p>
	  <p class="lead">{{ event.location }}</p>
	  <p class="lead">{{ event.datetime }}</p>
	  <hr class="my-4">
	  <h5>remaining seats: {{ event.seats }}</h5>
	  <p>{{ event.created_on }}</p>
	  <a class="btn btn-primary btn-lg" href="{% url 'edit-event' event.id %}" role="button">edit</a>
	</div>
	</div>
	</div>
	
{% endblock content %}